@tailwind base;
@tailwind components;
@tailwind utilities;

@import "variables";
@import "mixins";
@import "plot";

// JSON EDITOR CUSTOM STYLES

.editorTitle {
  color: #4b5563;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: capitalize;
}

.custom-json-editor {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.6rem;

  // hide root header & object controls
  & div > div > .je-ready > [data-schemapath="root"] > .je-header,
  > div div div.je-ready div.je-object__container span.je-object__controls {
    display: none;
  }

  // all panels
  & div[data-theme="html"] .je-indented-panel {
    border: none;
    padding: 0;
    margin: 0;

    // outer panel
    & > div {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      flex-wrap: wrap;
    }

    // single panel
    & > div > .je-indented-panel {
      padding: 0.5rem;
      border: $border-style;
      border-left: solid 4px $ui-color;
      border-radius: $border-radius;
      background-color: rgba(255, 255, 255, 0.527);

      & b {
        display: none;
      }

      @include hide-panel-elements;
      @include panel-layout-styles;

      // panel footer styles (wrapper around delete & move buttons)
      & span {
        display: flex;
        align-items: center;
        padding-top: 1.5rem;
        gap: 0.2rem;
        height: 24px;
        justify-content: space-between;
      }
    }

    // input labels
    & .je-form-input-label {
      font-size: $font-size-small;
      font-weight: 500;
      text-transform: capitalize;
    }
    // inputs
    input {
      @include input-style;
    }

    // toggle button position
    & h3.je-header.je-object__title {
      position: absolute;
      width: 15px;
      margin-top: -2.2rem !important;
      right: 0;
      top: 0;
    }

    // toggle button
    & .json-editor-btn-collapse.json-editor-btntype-toggle {
      border: solid $ui-color 3px !important;
      color: $ui-color;
      padding: 0 0.2rem;
      border-radius: $border-radius;
      box-shadow: none !important;
      font-size: $font-size-small;
      margin: 0 !important;
      visibility: hidden;
      width: 15px;
      font-size: 1rem;
      &::after {
        content: "\25BC";
        visibility: visible;
        position: absolute;
        width: fit-content;
        top: 0;
        right: 0;
      }
      &:hover {
        color: darken($ui-color, 10%);
      }
    }
  }

  // select
  & select.je-switcher,
  select {
    @include input-style;
    width: 200px;
  }

  // move down button
  & .json-editor-btn-movedown.movedown.json-editor-btntype-move {
    @include move-button-style(-90deg);
  }

  // move up button
  & .json-editor-btn-moveup.moveup.json-editor-btntype-move {
    @include move-button-style(90deg);
  }

  // delete btn
  .json-editor-btn-delete.delete.json-editor-btntype-delete {
    font-size: $font-size-small;
    visibility: hidden;
    margin-right: auto;
    margin-left: -0.3rem;
    color: #222222b3;

    &::before {
      visibility: visible;
      content: "Remove";
      font-size: inherit;
    }
    &:hover {
      color: #222;
    }
  }

  // add button
  & .json-editor-btn-add.json-editor-btntype-add {
    color: $ui-color;
    box-shadow: none !important;
    font-size: $font-size-small;
    visibility: hidden;
    position: relative;
    margin-top: 0.5rem !important;
    width: 120px;
    &::after {
      content: "+ Add item";
      visibility: visible;
      position: absolute;
      width: fit-content;
      padding: 0.2rem 0.6rem;
      border: dashed 1px $ui-color;
      border-radius: $border-radius;
      top: 0;
      left: 0;
    }
    &:hover {
      color: darken($ui-color, 10%);
    }
  }

  // apply-button
  & .apply-button {
    margin-top: -1.9rem;
    margin-left: auto;
    background-color: $ui-color;
    color: white;
    font-size: $font-size-small;
    padding: 0.3rem 0.6rem;
    border-radius: $border-radius;
    transition: ease-in-out 0.15s;

    &:hover {
      background-color: lighten($ui-color, 5%);
    }
  }
}

// coloraxis editor styles
.custom-json-editor.coloraxis {
  padding-top: 0.3rem;

  select {
    width: 140px;
  }
  // panel styles
  &
    > div
    > div
    > div.je-ready
    > div.je-object__container
    > div.je-indented-panel
    > div
    > div {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }
}
