@mixin input-style {
  padding: $padding-small;
  border: $border-style;
  border-radius: $border-radius;
  width: 140px;
  max-width: 300px;
  background-color: white !important;
  margin-left: 0 !important;
  font-style: normal;
  font-size: 0.9rem;
  transition: 0.05s ease-in-out;
  outline: none;

  &:hover {
    border-color: $hover-border-color;
  }
}

@mixin move-button-style($rotation-angle: 0deg) {
  color: #222;
  font-size: $font-size-small;
  visibility: hidden;
  width: 15px;

  &::before {
    content: "\21E4";
    display: inline-block;
    transform: rotate($rotation-angle);
    visibility: visible;
  }

  &:hover {
    opacity: 0.8;
  }
}

@mixin hide-panel-elements {
  // item label and object controls
  & > .je-form-input-label,
  > div
    div.je-child-editor-holder.je-object__container
    div.je-indented-panel
    div
    div
    div.row
    div.je-object__container
    h3.je-header.je-object__title,
  > div
    div.je-child-editor-holder.je-object__container
    div.je-indented-panel
    div
    div
    div.row
    div.je-object__container
    .je-object__controls,
  > div > .je-child-editor-holder.je-object__container > .je-object__controls {
    display: none;
  }
  // inner toggle button
  &
    .je-indented-panel
    .je-object__container
    > .je-header.je-object__title
    > .json-editor-btn-collapse.json-editor-btntype-toggle {
    display: none;
  }
}

@mixin panel-layout-styles {
  &
    > div
    > div.je-child-editor-holder.je-object__container
    > div.je-indented-panel
    > div
    > div
    > div.row
    > div.je-object__container
    > div.je-indented-panel
    > div
    > div {
    display: flex;
    gap: 0.8rem;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0.8rem 0.2rem 0.5rem 0.2rem;

    // panel selects
    & select {
      width: 120px;
    }
  }
}
